body {
    background-color: #f0f7da;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 125%
}
p{
    color: #1f192f;
}

h1{
    color: #1f192f;
}
h2{
    color: #2d6073;
}
h3{
    color: #2d6073;
}
h4{
    color: #2d6073;
}

li{
    color: #1f192f;
}
img{
    color: white;
    font-size: 125%;
    color: whitesmoke
}
#sectionConceitos ul {
    list-style: square;
}

header {
    background-color: #b5e8c3;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

footer {
    background-color: #b5e8c3;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: #1f192f;
}

a:hover{
    color: magenta;
    font-weight: bolder;
}
a{
    color: #1f192f;
}

#apiImagem{
    background-color: #ceeed7;
    border: solid;
    border-width: 2px;
    border-color: #65b8a6;
    border-radius: 15px;
    display: block;
    justify-items: left;
    margin-left: 3cm;
}

section{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #65b8a6;
    
}

li {
    transition: 0.5s ease;
    display: block;
    margin: 2%
}

.index:hover {
    transition: 0.5s ease;
    color: magenta;
    padding: 10px;
    background-color: #2d6073;
    border-radius: 3px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
