body {
    background-color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 125%
}
p{
    color: whitesmoke;
}

h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}

li{
    color: white;
}

#sectionConceitos ul {
    list-style: square;
}

header {
    background-color: #626262;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}

footer {
    background-color: #626262;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
}


nav > ul> li{
    display: flex;
    text-decoration: none;
    justify-content: center;
}

a{
    color: rgb(28, 201, 28);
}
a:hover{
    font-weight: bold;
    color: rgb(236, 28, 28);
}