body {
    background-color: #f0f7da;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 125%
}

section {
    margin: 15px;
}
p{
    color: #1f192f;
    margin-left: 10px;
}

#paragrafo_centro {
    text-align: center;
}

h1{
    color: #1f192f;
}
h2{
    color: #2d6073;
    margin-left: 10px;
}
h3{
    color: #2d6073;
    margin-left: 10px;
}
h4{
    color: #2d6073;
    margin-left: 10px;
}

li{
    color: #1f192f;
}
img{
    color: white;
    font-size: 125%;
    color: whitesmoke
}

#sectionConceitos ul {
    list-style: square;
}

header {
    background-color: #b5e8c3;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

footer {
    background-color: #b5e8c3;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0%;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: #1f192f;
}

a:hover{
    color: whitesmoke;
    font-weight: bolder;
}

a{
    color: #1f192f;
}

.imagemAPI{
    width: 1000px;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

#apiImagem{
    background-color: #ceeed7;
    border: solid;
    border-width: 2px;
    border-color: #65b8a6;
    border-radius: 15px;
    width: 100%;
    height: 100%;

}


#frameworkimagem {
    background-color: #ceeed7;
    border: solid;
    border-width: 2px;
    border-color: #65b8a6;
    border-radius: 15px;
    display: block;
    justify-items: left;
    margin-left: 1cm;
    width: 1000px;
    height: auto;
}

.imagemBibliotecas {
    width: 1000px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#img_bibliotecas {
    background-color: #ceeed7;
    border: solid;
    border-width: 3px;
    border-color: #65b8a6;
    border-radius: 15px;
}

section{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #65b8a6;
}

li {
    transition: 0.5s ease;
    display: block;
    margin: 2%
}

.index {
    text-decoration: none;
}

.index:hover {
    transition: 0.5s ease;
    color: whitesmoke;
    padding: 10px;
    background-color: #87997c;
    border-radius: 3px;
    font-weight: bolder;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.diagrama-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15cm;
  background-color: #f0f7da;
  padding: 40px;
}

.diagrama-container {
    border-radius: 8px;
    padding: 16px;
    margin: 20px auto;
    max-width: 600px;
    background: #b5e8c3;
    text-align: center;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #65b8a618;
}

.diagrama-titulo {
    font-size: 7mm;
    margin-bottom: 10px;
    color: #333;
}

.diagrama-conteudo {
    font-family: monospace;
    line-height: 1.6;
    margin: 0;
}